-- CreateEnum
CREATE TYPE "UserStatus" AS ENUM ('ACTIVE', 'DISABLED');

-- CreateEnum
CREATE TYPE "UploadStatus" AS ENUM ('PENDING', 'PROCESSING', 'COMPLETED', 'FAILED');

-- CreateEnum
CREATE TYPE "UploadType" AS ENUM ('FISCAL_INVOICE', 'SHOPEE_WALLET', 'SHOPEE_ACCELERA', 'SHOPEE_INCOME', 'UNKNOWN');

-- CreateEnum
CREATE TYPE "MoneyDirection" AS ENUM ('IN', 'OUT', 'NEUTRAL');

-- CreateEnum
CREATE TYPE "FeeStatus" AS ENUM ('DETECTED', 'CLASSIFIED', 'IGNORED');

-- CreateEnum
CREATE TYPE "ApiTokenStatus" AS ENUM ('ACTIVE', 'REVOKED');

-- CreateTable
CREATE TABLE "users" (
    "id" UUID NOT NULL,
    "name" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "passwordHash" TEXT,
    "status" "UserStatus" NOT NULL DEFAULT 'ACTIVE',
    "lastLoginAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "roles" (
    "id" UUID NOT NULL,
    "name" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "description" TEXT,
    "isSystem" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "roles_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "permissions" (
    "id" UUID NOT NULL,
    "module" TEXT NOT NULL,
    "action" TEXT NOT NULL,
    "key" TEXT NOT NULL,
    "description" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "permissions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "role_permissions" (
    "roleId" UUID NOT NULL,
    "permissionId" UUID NOT NULL,

    CONSTRAINT "role_permissions_pkey" PRIMARY KEY ("roleId","permissionId")
);

-- CreateTable
CREATE TABLE "user_roles" (
    "userId" UUID NOT NULL,
    "roleId" UUID NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "user_roles_pkey" PRIMARY KEY ("userId","roleId")
);

-- CreateTable
CREATE TABLE "audit_logs" (
    "id" UUID NOT NULL,
    "actorId" UUID,
    "action" TEXT NOT NULL,
    "entity" TEXT NOT NULL,
    "entityId" TEXT,
    "metadata" JSONB,
    "ipAddress" TEXT,
    "userAgent" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "audit_logs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "uploads" (
    "id" UUID NOT NULL,
    "type" "UploadType" NOT NULL,
    "status" "UploadStatus" NOT NULL DEFAULT 'PENDING',
    "originalName" TEXT NOT NULL,
    "storagePath" TEXT,
    "checksum" TEXT NOT NULL,
    "periodStart" TIMESTAMP(3),
    "periodEnd" TIMESTAMP(3),
    "rowsRead" INTEGER NOT NULL DEFAULT 0,
    "rowsImported" INTEGER NOT NULL DEFAULT 0,
    "rowsUpdated" INTEGER NOT NULL DEFAULT 0,
    "errorsCount" INTEGER NOT NULL DEFAULT 0,
    "detectedFees" INTEGER NOT NULL DEFAULT 0,
    "uploadedById" UUID,
    "summary" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "processedAt" TIMESTAMP(3),

    CONSTRAINT "uploads_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "orders" (
    "id" UUID NOT NULL,
    "marketplaceId" TEXT NOT NULL,
    "state" TEXT,
    "createdAtOrder" TIMESTAMP(3),
    "paidAt" TIMESTAMP(3),
    "grossAmount" DECIMAL(14,2),
    "netAmount" DECIMAL(14,2),
    "buyerPaid" DECIMAL(14,2),
    "carrier" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "orders_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "order_items" (
    "id" UUID NOT NULL,
    "orderId" UUID NOT NULL,
    "sku" TEXT,
    "productName" TEXT,
    "quantity" INTEGER NOT NULL DEFAULT 1,
    "unitPrice" DECIMAL(14,2),
    "grossAmount" DECIMAL(14,2),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "order_items_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "sales_invoices" (
    "id" UUID NOT NULL,
    "documentNumber" TEXT NOT NULL,
    "emissionDate" TIMESTAMP(3) NOT NULL,
    "branch" TEXT,
    "type" TEXT,
    "customerOrder" TEXT,
    "quantity" INTEGER NOT NULL DEFAULT 0,
    "cfop" TEXT,
    "state" TEXT,
    "totalAmount" DECIMAL(14,2) NOT NULL,
    "freightAmount" DECIMAL(14,2) NOT NULL DEFAULT 0,
    "icmsRate" DECIMAL(7,4),
    "taxableBase" DECIMAL(14,2) NOT NULL DEFAULT 0,
    "icmsAmount" DECIMAL(14,2) NOT NULL DEFAULT 0,
    "estimatedDifal" DECIMAL(14,2) NOT NULL DEFAULT 0,
    "orderId" UUID,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "sales_invoices_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "wallet_transactions" (
    "id" UUID NOT NULL,
    "transactionDate" TIMESTAMP(3) NOT NULL,
    "transactionType" TEXT NOT NULL,
    "description" TEXT,
    "orderMarketplaceId" TEXT,
    "direction" "MoneyDirection" NOT NULL,
    "amount" DECIMAL(14,2) NOT NULL,
    "status" TEXT,
    "balanceAfter" DECIMAL(14,2),
    "adjustmentValue" DECIMAL(14,2),
    "rawHash" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "wallet_transactions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "accelera_transactions" (
    "id" UUID NOT NULL,
    "rescueDate" TIMESTAMP(3),
    "rescueId" TEXT,
    "orderMarketplaceId" TEXT,
    "availableAmount" DECIMAL(14,2),
    "rescuePercent" DECIMAL(7,4),
    "rescuedAmount" DECIMAL(14,2),
    "serviceFee" DECIMAL(14,2),
    "receivedAmount" DECIMAL(14,2),
    "remainingAmount" DECIMAL(14,2),
    "refundedAmount" DECIMAL(14,2),
    "orderGrossAmount" DECIMAL(14,2),
    "pendingAmount" DECIMAL(14,2),
    "status" TEXT,
    "lastTransactionAt" TIMESTAMP(3),
    "dueDate" TIMESTAMP(3),
    "rawHash" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "accelera_transactions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "shopee_income" (
    "id" UUID NOT NULL,
    "orderMarketplaceId" TEXT NOT NULL,
    "sku" TEXT,
    "productName" TEXT,
    "orderCreatedAt" TIMESTAMP(3),
    "paymentCompletedAt" TIMESTAMP(3),
    "releasedAmount" DECIMAL(14,2),
    "productPrice" DECIMAL(14,2),
    "refundAmount" DECIMAL(14,2),
    "logisticsFreight" DECIMAL(14,2),
    "reverseShippingFee" DECIMAL(14,2),
    "sellerReturnFee" DECIMAL(14,2),
    "commissionFee" DECIMAL(14,2),
    "serviceFee" DECIMAL(14,2),
    "transactionFee" DECIMAL(14,2),
    "affiliateCommissionFee" DECIMAL(14,2),
    "buyerPaidAmount" DECIMAL(14,2),
    "carrier" TEXT,
    "buyerRefundedAmount" DECIMAL(14,2),
    "orderId" UUID,
    "rawHash" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "shopee_income_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "service_fee_details" (
    "id" UUID NOT NULL,
    "orderMarketplaceId" TEXT,
    "feeName" TEXT NOT NULL,
    "amount" DECIMAL(14,2) NOT NULL,
    "occurredAt" TIMESTAMP(3),
    "rawHash" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "service_fee_details_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "adjustments" (
    "id" UUID NOT NULL,
    "orderMarketplaceId" TEXT,
    "reason" TEXT,
    "amount" DECIMAL(14,2) NOT NULL,
    "occurredAt" TIMESTAMP(3),
    "rawHash" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "adjustments_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "detected_fees" (
    "id" UUID NOT NULL,
    "source" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "status" "FeeStatus" NOT NULL DEFAULT 'DETECTED',
    "categoryId" UUID,
    "firstSeenAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "lastSeenAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "detected_fees_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "tax_categories" (
    "id" UUID NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "tax_categories_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "state_tax_rules" (
    "id" UUID NOT NULL,
    "uf" TEXT NOT NULL,
    "internalRate" DECIMAL(7,4) NOT NULL,
    "interstateRate" DECIMAL(7,4) NOT NULL,
    "fcpRate" DECIMAL(7,4) NOT NULL DEFAULT 0,
    "validFrom" TIMESTAMP(3) NOT NULL,
    "validTo" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "state_tax_rules_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "dashboard_snapshots" (
    "id" UUID NOT NULL,
    "name" TEXT NOT NULL,
    "periodStart" TIMESTAMP(3) NOT NULL,
    "periodEnd" TIMESTAMP(3) NOT NULL,
    "data" JSONB NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "dashboard_snapshots_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "import_errors" (
    "id" UUID NOT NULL,
    "uploadId" UUID NOT NULL,
    "rowNumber" INTEGER,
    "field" TEXT,
    "message" TEXT NOT NULL,
    "rawData" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "import_errors_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "api_tokens" (
    "id" UUID NOT NULL,
    "name" TEXT NOT NULL,
    "tokenHash" TEXT NOT NULL,
    "status" "ApiTokenStatus" NOT NULL DEFAULT 'ACTIVE',
    "scopes" TEXT[],
    "expiresAt" TIMESTAMP(3),
    "lastUsedAt" TIMESTAMP(3),
    "createdById" UUID,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "revokedAt" TIMESTAMP(3),

    CONSTRAINT "api_tokens_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "users_email_key" ON "users"("email");

-- CreateIndex
CREATE UNIQUE INDEX "roles_name_key" ON "roles"("name");

-- CreateIndex
CREATE UNIQUE INDEX "roles_slug_key" ON "roles"("slug");

-- CreateIndex
CREATE UNIQUE INDEX "permissions_key_key" ON "permissions"("key");

-- CreateIndex
CREATE INDEX "permissions_module_idx" ON "permissions"("module");

-- CreateIndex
CREATE INDEX "audit_logs_actorId_createdAt_idx" ON "audit_logs"("actorId", "createdAt");

-- CreateIndex
CREATE INDEX "audit_logs_entity_entityId_idx" ON "audit_logs"("entity", "entityId");

-- CreateIndex
CREATE INDEX "uploads_type_createdAt_idx" ON "uploads"("type", "createdAt");

-- CreateIndex
CREATE UNIQUE INDEX "uploads_checksum_type_key" ON "uploads"("checksum", "type");

-- CreateIndex
CREATE UNIQUE INDEX "orders_marketplaceId_key" ON "orders"("marketplaceId");

-- CreateIndex
CREATE INDEX "orders_createdAtOrder_idx" ON "orders"("createdAtOrder");

-- CreateIndex
CREATE INDEX "order_items_sku_idx" ON "order_items"("sku");

-- CreateIndex
CREATE INDEX "sales_invoices_state_emissionDate_idx" ON "sales_invoices"("state", "emissionDate");

-- CreateIndex
CREATE UNIQUE INDEX "sales_invoices_documentNumber_emissionDate_branch_key" ON "sales_invoices"("documentNumber", "emissionDate", "branch");

-- CreateIndex
CREATE UNIQUE INDEX "wallet_transactions_rawHash_key" ON "wallet_transactions"("rawHash");

-- CreateIndex
CREATE INDEX "wallet_transactions_transactionDate_transactionType_idx" ON "wallet_transactions"("transactionDate", "transactionType");

-- CreateIndex
CREATE UNIQUE INDEX "accelera_transactions_rawHash_key" ON "accelera_transactions"("rawHash");

-- CreateIndex
CREATE INDEX "accelera_transactions_rescueDate_status_idx" ON "accelera_transactions"("rescueDate", "status");

-- CreateIndex
CREATE UNIQUE INDEX "shopee_income_rawHash_key" ON "shopee_income"("rawHash");

-- CreateIndex
CREATE INDEX "shopee_income_orderMarketplaceId_idx" ON "shopee_income"("orderMarketplaceId");

-- CreateIndex
CREATE INDEX "shopee_income_sku_idx" ON "shopee_income"("sku");

-- CreateIndex
CREATE UNIQUE INDEX "service_fee_details_rawHash_key" ON "service_fee_details"("rawHash");

-- CreateIndex
CREATE INDEX "service_fee_details_feeName_idx" ON "service_fee_details"("feeName");

-- CreateIndex
CREATE UNIQUE INDEX "adjustments_rawHash_key" ON "adjustments"("rawHash");

-- CreateIndex
CREATE UNIQUE INDEX "detected_fees_source_name_key" ON "detected_fees"("source", "name");

-- CreateIndex
CREATE UNIQUE INDEX "tax_categories_name_key" ON "tax_categories"("name");

-- CreateIndex
CREATE INDEX "state_tax_rules_uf_validFrom_validTo_idx" ON "state_tax_rules"("uf", "validFrom", "validTo");

-- CreateIndex
CREATE UNIQUE INDEX "state_tax_rules_uf_validFrom_key" ON "state_tax_rules"("uf", "validFrom");

-- CreateIndex
CREATE UNIQUE INDEX "dashboard_snapshots_name_periodStart_periodEnd_key" ON "dashboard_snapshots"("name", "periodStart", "periodEnd");

-- CreateIndex
CREATE INDEX "import_errors_uploadId_idx" ON "import_errors"("uploadId");

-- CreateIndex
CREATE UNIQUE INDEX "api_tokens_tokenHash_key" ON "api_tokens"("tokenHash");

-- CreateIndex
CREATE INDEX "api_tokens_status_idx" ON "api_tokens"("status");

-- AddForeignKey
ALTER TABLE "role_permissions" ADD CONSTRAINT "role_permissions_roleId_fkey" FOREIGN KEY ("roleId") REFERENCES "roles"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "role_permissions" ADD CONSTRAINT "role_permissions_permissionId_fkey" FOREIGN KEY ("permissionId") REFERENCES "permissions"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "user_roles" ADD CONSTRAINT "user_roles_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "user_roles" ADD CONSTRAINT "user_roles_roleId_fkey" FOREIGN KEY ("roleId") REFERENCES "roles"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "audit_logs" ADD CONSTRAINT "audit_logs_actorId_fkey" FOREIGN KEY ("actorId") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "uploads" ADD CONSTRAINT "uploads_uploadedById_fkey" FOREIGN KEY ("uploadedById") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "order_items" ADD CONSTRAINT "order_items_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES "orders"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "sales_invoices" ADD CONSTRAINT "sales_invoices_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES "orders"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "shopee_income" ADD CONSTRAINT "shopee_income_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES "orders"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "detected_fees" ADD CONSTRAINT "detected_fees_categoryId_fkey" FOREIGN KEY ("categoryId") REFERENCES "tax_categories"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "import_errors" ADD CONSTRAINT "import_errors_uploadId_fkey" FOREIGN KEY ("uploadId") REFERENCES "uploads"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "api_tokens" ADD CONSTRAINT "api_tokens_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

